.container {
  padding: 10px 10px;
  border-radius: 8px;
}

.containerCard{
  display: flex;
  width: 160px;
  flex-direction: column;
  color: #fff;
}

.containerCard > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerCard > div h3 {
  font-size: 45px;
}