.container {
  padding: 10px 10px;
  border-radius: 8px;
}

.containerCard{
  display: flex;
  width: 140px;
  flex-direction: column;
  color: #fff;
}

.containerCard h3 {
  font-size: 1rem;
}

.containerCard > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerCard > div h3 {
  font-size: 1.75rem;
}