/*************  Container  ***************/
.container {
  display: flex;
  max-width: 960px;
  margin: 60px auto 0px auto;
}

.containerInput{
  margin-top: 60px;
  margin-bottom: 15px;
}

input{
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.containerCard{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

h2 {
  border-bottom: 2px solid #e9e9e9;
  color: #767a80;
}

@media (max-width: 760px){
  .containerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/************* Table ************/
.containerTeste {
  display: flex;
}

.containerTable{
  flex: 3;
}

table{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th{
  padding: 15px 8px;
  border-top: 1px solid #d3d3d3;
}

td {
  text-align: left;
  padding: 15px 8px;
  border-top: 1px solid #d3d3d3; 
}

.containerLabel {
  display: flex;
  justify-content: flex-end;
}

.containerLabel > div{
  text-align: center;
  width: 160px;
}

.sectorLabel{
  text-align: center;
  border-radius: 30px;
  padding: 4px 0;
  width: 160px;
  background-color: red;
  color: white;
}

/******************  Section Filter  ******************/
.containerFilter {
  display: flex;
  flex-direction: column;
  border: 2px solid #e9e9e9;
  box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
  padding: 20px 30px;
  margin-right: 60px;
  height: 100%;
}

.titleContainerFilter{
  font-size: 0.875rem;
  border: 0;
}

.filterListItem{
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-left: 10px;
}

.filterListItem:hover{
  background-color: #e9e9e9;
  cursor: pointer;
}

.selectionBox{
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDepartmentFilter{
  margin-top: 15px;
}

.containerDepartmentFilter h2 {
  font-size: 1.125rem;
}