.container {
  max-width: 960px;
  height: 800px;
  margin: 0 auto;
}

.containerCard{
  display: flex;
  justify-content: space-between
}

.itemCard{
  margin-top: 10px;
}

@media (max-width: 760px){
  .containerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/************* Table ************/
.containerTable{
  max-width: 760px;
  margin: 0 auto;
}

table{
  margin-top: 60px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th{
  padding: 15px 8px;
  border-top: 1px solid #d3d3d3;
}

td {
  text-align: left;
  padding: 15px 8px;
  border-top: 1px solid #d3d3d3;
}

/* tr:nth-child(even){background-color: #fff0f5} */

.containerLabel {
  display: flex;
  justify-content: flex-end;
}

.containerLabel > div{
  text-align: center;
  width: 160px;
}

.sectorLabel{
  text-align: center;
  border-radius: 30px;
  padding: 4px 0;
  width: 160px;
  background-color: red;
  color: white;
  font-weight: 500;
}
